.btn-primary {

    background-color: chocolate;
  }



#showcase {
    background: url(vystava-the-poster-5.jpg) bottom center / cover no-repeat;
    min-height: 750px;
    position: relative;
}

#showcase #header {
    z-index: 2;
}

s #showcase #overlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#showcase h1 {
    font-family: "Questrial", sans-serif;
    line-height: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#showcase p {
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#showcase .book1 {
    font-size: 1.5rem;
    border-radius: 2rem;
}

.card-img-top {
    width: 8rem;
}



#kostka {
    width: 30px;
    height: 30px;
    background: blue;
    position: relative;
    animation: mymove 1s infinite ease-out;
  }
  
  @keyframes mymove {
   100% {
       transform: translate(200px) scale(2) ;
   }

  }

  #text1 {
    font-family: 'Roboto', sans-serif;
    
}

#text2 {
    font-family: 'Girassol', cursive;
    font-weight: bold;
}

#text3 {
    font-family: 'KoHo', sans-serif;
   
}



  